<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>TransactionWebServices</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>BranchWebServices</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EmployeeWebServices</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdminWebServices</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionWebServices</servlet-name>
        <url-pattern>/TransactionWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchWebServices</servlet-name>
        <url-pattern>/BranchWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeWebServices</servlet-name>
        <url-pattern>/EmployeeWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminWebServices</servlet-name>
        <url-pattern>/AdminWebServices</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1000
        </session-timeout>
    </session-config>
</web-app>